.rotate-clockwise {
  animation: rotateClockwise 10s linear infinite;
}

.rotate-counterclockwise {
  animation: rotateCounterclockwise 10s linear infinite;
}

@keyframes rotateClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateCounterclockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


